<!DOCTYPE html>
<html>
  <head>
    <title>Rails jQuery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "/vendor/jquery.min" %>
    <%= javascript_include_tag "/vendor/jquery.mask.min" %>
    <%= javascript_include_tag "/javascript/application" %>
  </head>

  <body>
    <ul>
      <li><%= link_to "jQuery", "http://localhost:3000" %></li>
      <li><%= link_to "Stimulus", "http://localhost:3001" %></li>
    </ul>

    <hr>
    <%= yield %>
  </body>
</html>
